body {
  background-color: f9f7fe;
  font-family: "Roboto", sans-serif;
}
.app {
  background-color: #ffffff;
  max-width: 600px;
  padding: 35px;
  margin: 30px auto;
  box-shadow: 0 30px 60px rgba(65, 50, 100, 0.08);
}
